@import "../iconfont/iconfont.css";

html {
  height: 100%;
  font-size: 14px;
}

body {
  height: 100%;
  color: #333;
  font-size: 14px;
  font-family: microsoft yahei, Helvetica, Calibri, Tahoma, Arial, sans-serif;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

.clearfix {
  clear: both;
}

.hidePlaceholder::-webkit-input-placeholder, .hidePlaceholder::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.4;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}

#app {
  height: 100%;
  min-width: 1200px;
  padding-top: 80px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.font12{
  font-size:12px;
}
.font14{
  font-size:14px;
}
.font16{
  font-size:16px;
}
.font18{
  font-size:18px;
}
.font20{
  font-size:20px;
}
.font22{
  font-size:22px;
}
.font500{
  font-weight:500;
}

.black{
  color: #000;
}
.black2{
  color: #333;
}
.gray{
  color: #666;
}
.gray2{
  color: #999;
}
.white{
  color: #fff;
}
.orange{
  color: #f56000;
}

.marginTop10{
  margin-top:10px;
}
.marginBottom10{
  margin-bottom:10px;
}

.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}












